body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E1271F;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 150px;
}
.icon{
    height: 60px;
}
.icones{
    padding: 4%;
}

.logofooter{
    height: 200px;
}
.conteudofooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    font-family:'Montserrat',sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    width: 100%; 
    height: 800px; 
    background-image: url('img/backgroud_spray_offwhite.png'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}
.menu{
    background-color: white;
    padding: 5%;
    border-radius: 20px 0 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: rgba(80, 79, 79, 0.801);
    z-index: 1000;
    display: none;
}
.menu-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.menu-list li {
    margin: 20px 0;
}
.menu-list li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: #29c7e6;
    border-radius: 4px;
}
.menu-list li a:hover {
    background-color: #1a91a8;
}