
body {
    background-color: #EAE9DF;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAE9DF; 
}
.logo{
    height: 150px;
}
.icon{
    height: 60px;
}
.icones{
    padding: 4%;
}
.apresentacao {
    background-color: #EAE9DF;
}
.separador-apresentacao {
    width: 100%;
    height: 550px;
    flex-shrink: 0;
    aspect-ratio: 441.43/71.00;
    background-image: url('img/backgorund_cheese_offwhite.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center bottom;
    background-color: #29C7E6;
}
.titulos {
    font-family:'Montserrat',sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.subtitulos {
    font-family:'Montserrat',sans-serif;
    font-size: 30px;
    font-weight: 350;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.textos {
    font-family:'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.como_funciona {
    background-color: #29C7E6;
    padding: 50px 20px;
    text-align: center;
}
.separador-funcionamento {
    width: 100%;
    height: 71px;
    flex-shrink: 0;
    aspect-ratio: 441.43/71.00;
    background-image: url('img/quadriculado_azul.png'); 
    background-color: #E1271F;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

}

.avaliacao {
    background-color: #E1271F;
    align-items: center;
}

.separador-avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: 800px; 
    background-image: url('img/background_spray_amarelo.png'); 
    background-color: #E1271F;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;

}
 .cardapio {
    background-color: #FAAD17;
    padding: 50px 20px;
    text-align: center;
}
 .container-etapas {
    display: flex; 
    justify-content: center;
}
  .etapa {
    text-align: center; 
    margin: 0 20px; 
  }
  
  .etapa img {
    display: block;
    margin: 0 auto 50px;
    max-width: 250px; 
    height: auto;
  }

  @media (max-width: 768px) {
    .container-etapas {
      flex-direction: column; 
      align-items: center; 
    }
    .etapa {
      margin: 20px 0;
      width: 100%;
    }}
.separador-cardapio {
    width: 100%;
    height: 550px;
    flex-shrink: 0;
    aspect-ratio: 441.43/71.00;
    background-image: url('img/backgorund_cheese_amarelo.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center bottom;
    background-color: #29C7E6;
}
.entrega {
    background-color: #29C7E6;
    padding: 50px 20px;
    text-align: center;
}
.logofooter{
    height: 200px;
}
.conteudofooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    font-family:'Montserrat',sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    width: 100%; 
    height: 800px; 
    background-image: url('/static/img/backgroud_spray_offwhite.png'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: #29C7E6;
}
  /* MENU - mobile */

  .menu{
    background-color: white;
    padding: 5%;
    border-radius: 20px 0 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: rgba(80, 79, 79, 0.801);
    z-index: 1000;
    display: none;
}
.menu-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.menu-list li {
    margin: 20px 0;
}
.menu-list li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: #29c7e6;
    border-radius: 4px;
}
.menu-list li a:hover {
    background-color: #1a91a8;
}

  /* CARDAPIO - mobile */
.cardapio-container {
  font-family: 'Montserrat',sans-serif;;
  background-color: #FAAD17;
  width: 100%;
  height: 550px;
  text-align: center;
}
#pizza-img{
  width: 20%; 
  height: auto; 
  display: block;
  margin: 0 auto; 
}
.carrossel-cardapio {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
}

.opcoes {
  margin-top: 10px;
}

.tamanho {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sabores {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.sabores img {
  width: 15%;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.sabores img:hover {
  border: 2px solid #fff;
}

.comprar {
  background: #00cfff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

  /* DEPOIMENTOS */

.depoimentos {
  background-color: #E1271F;
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  display: none;
  width: 100%;
}

.ativo {
  display: block;
}

.avaliacao {
  background-color: #E1271F;
  padding: 30px;
  border-radius: 20px;
  position: relative;
}

.foto {
  width: 120px;
  height: 120px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 auto 20px;
}

h3 {
  margin: 10px 0;
  font-weight: bold;
}

p {
  font-size: 1.1em;
}

button.prev, button.next {
  background: none;
  border: none;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

button.prev:hover, button.next:hover {
  transform: scale(1.2);
}