<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/admin.css">
    <link rel="fonte" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="icon" href="/static/img/pizza_7.png" type="image/png">
    <title>Painel do Administrador</title>
</head>
<body>
    <nav id="navmobile">
        <a href="/main"><img class="logo" src="/static/img/logotipo.png" alt="logotipo"></a>
        <section class="icones">
            <a href=""><img class="icon" id="menu" src="/static/img/icon_menu_azul.png" alt="menu"></a>
            <div class="menu" id="menuOverlay" >
                <a href=""><img class="icon" id="menu2" src="/static/img/icon_menu_azul.png" alt="menu"></a>
                <ul class="menu-list" id="menuList">
                    <li><a href="/#comofunciona">Como Funciona</a></li>  
                    <li><a href="/#avaliacao">Avaliações</a></li>     
                    <li><a href="/#cardapio">Cardápio</a></li>    
                    <li><a href="/#entrega">Entrega</a></li>      
                </ul>   
            </div>                
        </section>
    </nav>
    <nav id="navdesk">
        <img class="logo" src="/static/img/logotipo.png" alt="logotipo">
        <ul class="menudesk">
            <li><a href="/#comofunciona">Como Funciona</a></li>
            <li><a href="/#avaliacao">Avaliações</a></li>
            <li><a href="/#cardapio">Cardápio</a></li>
            <li><a href="/#entrega">Entrega</a></li>
        </ul>
        <div class="icones2">
            <a href="/login"><img class="icon" src="/static/img/icon_login_azul.png" alt="login"></a>
        </div>
    </nav>
    <main>
                <h1 class="nome">Bem-vindo, {{ nome }}!</h1>
                <p>Você está na página de administração.</p>
                <div class="planilha">
            <p>Conteúdo Banco de Dados</p>
            <h1>Bem-vindo, {{ nome }}!</h1>

        <table border="1" cellpadding="5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>WhatsApp</th>
                    <th>senha</th>
                    <th>rua</th>
                    <th>numero</th>
                    <th>complemento</th>
                    <th>CEP</th>
                    <th>ponto de referência</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario[0] }}</td>
                    <td>{{ usuario[1] }}</td>
                    <td>{{ usuario[2] }}</td>
                    <td>{{ usuario[3] }}</td>
                    <td>{{ usuario[4] }}</td>
                    <td>{{ usuario[5] }}</td>
                    <td>{{ usuario[6] }}</td>
                    <td>{{ usuario[7] }}</td>
                    <td>{{ usuario[8] }}</td>
                    <td>{{ usuario[9] }}</td>
                    <td>
                        <form method="post" action="/admin/usuarios/excluir/{{ usuario[0] }}" onsubmit="return confirm('Tem certeza que deseja excluir este usuário?');">
                        <button type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>

    </main>
    <script src="/static/JS/menu.js"></script>
    <script src="/static/JS/footer.js"></script>
</body>
</html>
