<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/admin.css">
    <link rel="fonte" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="icon" href="/static/img/pizza_7.png" type="image/png">
    <title>Painel do Administrador</title>
</head>
<body>
    <h1>Bem-vindo, {{ nome }}!</h1>
    <p>Você está na página de administração.</p>
</body>
</html>
