<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/cadastro.css">
    <link rel="fonte" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="icon" href="/static/img/pizza_7.png" type="image/png">
    <title>Cadastro</title>
</head>
<body>
    
    <main class="formulario">
        <h1>FAÇA SEU CADASTRO</h1>
        <form action="/cadastro" method="post">
            <label for="nome">NOME</label> 
            <input type="text" id="nome" name="nome" required>
            <label for="whatsapp">WHATSAPP</label> 
            <input type="number" id="whatsapp" name="whatsapp" required>
            <label for="email">E-MAIL</label> 
            <input type="text" id="email" name="email" required>
            <div class="senha"> 
                <label for="senha">SENHA</label> 
                <input type="password" id="senha" name="senha" required>
                <button type="button" onclick="togglePassword()">🔓</button>
            </div>
        
        <h3>ENDEREÇO</h3>
        
            <label for="rua">Rua</label>
            <input type="text" id="rua" name="rua" required>
            <section class="container">
                <div class="input"> 
                    <label for="numero">Número</label>
                    <input type="number" id="numero" name="numero" required>
                </div>
                <div class="input"> 
                    <label for="complemento">Complemento</label>
                    <input type="text" id="complemento" name="complemento" >
                </div>
            </section>
            <section class="container2">
                <div class="input">
                    <label for="cep">CEP</label>
                    <input type="number" id="cep" name="cep" required>
                </div>
                <div class="input">
                    <label for="ponto">Ponto de Referência</label>
                    <input type="text" id="ponto" name="ponte">
                </div>
            </section>
            <button class="botaocadastrar">CADASTRAR</button>
        </form>
    </main>
    <div >
        
    </div>
    <button class="scroll-top" id="scrollTopBtn"></button>
    <script src="/static/JS/btnTopo.js"></script>
    <script src="/static/JS/nav.js"></script>
    <script src="/static/JS/footer.js"></script>
    <script src="/static/JS/senhaocuta.js"></script>
</body>
</html>