<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/carrinho.css">
    <link rel="fonte" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="icon" href="/static/img/pizza_7.png" type="image/png">
    <title>Carrinho</title>
</head>
<body>
       
    <h1 class="titulo">SEU CARRINHO</h1>
    <main>
        <section>
            <h1 class="nomecli">Olá {{ nome_usuario }} Bem-vindo à sua página de pedidos!</h1>
            <div class="resumopedido"><b>SEU ENDEREÇO</b></div>
            <div class="infocli">
                <p>{{ endereco }}</p>
                
                <div class="botaoalterar">
                    <button class="botaoalterar"><b>ALTERAR</b></button>
                </div>
            </div>
            <div class="container">
                <div class="resumopedido"><b>RESUMO DO PEDIDO</b></div>
                <div class="pedido">
                    <p><b>Qtd</b></p>
                    <p><b>Descrição</b></p>
                    <p><b>Valor</b></p>
                </div>
                <div class="botoes">
                    <button class="bt">INSIRA UM CUPOM</button>
                    <button class="bt" data-entrega>DATA DE ENTREGA <img class="calendario" src="/static/img/icon-calendar.png" alt="calendario"></button>
                </div>
                <div class="botaopagar">
                    <button id="inputDataEntrega" class="btpagamento">FAZER PAGAMENTO</button>
                </div>
            </div>
        </section>
        
    </main>
   
    <script src="/static/JS/nav.js"></script>
    <script src="/static/JS/calendario.js"></script>
    <script src="/static/JS/footer.js"></script>
</body>
</html>