<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/login.css">
    <link rel="fonte" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="icon" href="/static/img/pizza_7.png" type="image/png">
    <title>Login</title>
</head>
<body>
    <nav>
        <img class="logo" src="/static/img/logotipo.png" alt="logotipo">
        <div class="icones">
            <a href="/carrinho"><img class="icon" src="/static/img/icon_cart_azul.png" alt="carrinho"></a>
            <a href="/login"><img class="icon" src="/static/img/icon_login_azul.png" alt="login"></a>
            <a href=""><img class="icon" id="menu" src="/static/img/icon_menu_azul.png" alt="menu"></a>
            <div class="menu" id="menuOverlay" >
                <a href=""><img class="icon" id="menu2" src="/static/img/icon_menu_azul.png" alt="menu"></a>
                <ul class="menu-list" id="menuList">
                    <li><a href="/#comofunciona">Como Funciona</a></li>  
                    <li><a href="/#avaliacao">Avaliações</a></li>     
                    <li><a href="/#cardapio">Cardápio</a></li>    
                    <li><a href="/#entrega">Entrega</a></li>  
                    <li><a href="/pgcliente">Área do Cliente</a></li>       
                </ul>   
            </div>         
        </div>
    </nav>
    <div class="formulario">
        <h1>FAÇA SEU LOGIN</h1>

        {% if mensagem_erro %}
        <div class="erro-box" id="erroBox">
            <p>{{ mensagem_erro }}</p>
            <button type="button" onclick="fecharErro()">OK</button>
        </div>
        {% endif %}
        
        <form action="/login" method="post">
           <label for="email">E-MAIL</label> 
           <input type="text" id="email" name="email" required>
           <label for="senha">SENHA</label>
           <input type="text" id="senha" name="senha" required>
           <p>Esqueceu a senha?<a class="cliqueaqui" href="">Clique aqui!</a></p>
           <button class="botaologin">FAZER LOGIN</button>
           <button class="botaocadastro" onclick="window.location.href='/cadastro'">QUERO ME CADASTRAR</button>
        </form>
    </div>
    <footer>
        <div class="conteudofooter">
            <img class="logofooter" src="/static/img/logotipo.png" alt="logotipofooter">
            <h1>SIGA-NOS NAS REDES SOCIAIS</h1>
            <P>@CHARLESPIZZASCONGELADAS</P>
        </div>
    </footer>
    <script src="/static/JS/menu.js"></script>
</body>
</html>