<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="icon" href="/static/img/pizza_7.png" type="image/png">
    <title>Charles Pizzas Congeladas</title>
</head>
<body>

<nav>
    <img class="logo" src="/static/img/logotipo.png" alt="logotipo">
    <section class="icones">
        {% if nome_usuario %}
            <h1>Olá, {{ nome_usuario }}</h1>
        {% else %}
            <a href="/login"><img class="icon" src="/static/img/icon_login_azul.png" alt="login"></a>
        {% endif %}
        <a href="/meu-carrinho"><img class="icon" src="/static/img/icon_cart_azul.png" alt="carrinho"></a>
        <a href="#"><img class="icon" id="menu" src="/static/img/icon_menu_azul.png" alt="menu"></a>

        <div class="menu" id="menuOverlay">
            <a href="#"><img class="icon" id="menu2" src="/static/img/icon_menu_azul.png" alt="menu"></a>
            <ul class="menu-list" id="menuList">
                <li><a href="#comofunciona">Como Funciona</a></li>  
                <li><a href="#avaliacao">Avaliações</a></li>     
                <li><a href="#cardapio">Cardápio</a></li>    
                <li><a href="#entrega">Entrega</a></li>

                {% if nome_usuario == "Administrador" %}
                    <li><a href="/admin/usuarios">Área Administrativa</a></li>
                {% elif nome_usuario %}
                    <li><a href="/meus-pedidos">Área do Cliente</a></li>
                {% endif %}

                {% if nome_usuario %}
                    <li><a href="/logout">Sair</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>   
        </div>               
    </section>
</nav>
<main>
    <section class="secoes-animadas apresentacao">
    <div class="apresentacao-texto">
        <h1 class="titulos"> PIZZAS CONGELADAS </h1>
        <h3 class="subtitulo.apresentacao"> Preparamos nossas pizzas com ingredientes selecionados, massa fresca e o toque especial que só quem é da região entende. Venha descobrir por que somos a escolha favorita do bairro e se delicie com uma experiência única.</h3>
    </div>
        <img src="/static/img/pizza_1.png" alt="Pizza Aviao" class="animated-scroll-image pizza-apresentacao1-img" data-speed="1.2">
        <img src="/static/img/sticker_molho.png" alt="Sticker Molho" class="animated-scroll-image pizza-apresentacao2-img" data-speed="1.2">
        <img src="/static/img/pizza-flutuante-2.png" alt="Sticker Molho" class="animated-scroll-image pizza-apresentacao8-img" data-speed="1.2">

    </section>

    <div class="separador-apresentacao"></div>

<section class="como_funciona" id="comofunciona">
    <h1 class="titulos"> COMO FUNCIONA</h1>

    <section class="container-etapas">
        <div class="etapa">
            <img src="/static/img/comocomprar_passo1.png" alt="Escolha sua pizza">
            <h3 class="subtitulos">ESCOLHA SUA PIZZA</h3>
            <p class="textos">Navegue pelos sabores e escolha sua pizza. Todas as nossas pizzas são enviadas congeladas e você pode assá-las facilmente na sua casa! Seja no forno elétrico, convencional ou air fryer.</p>
        
           
        </div>
    
        <div class="etapa">
            <img src="/static/img/comocomprar_passo2.png" alt="Agende a entrega">
            <h3 class="subtitulos">AGENDE A ENTREGA</h3>
            <p class="textos">Faça seu pedido com, pelo menos, 2 dias de antecedência! Todas as nossas pizzas, apesar de congeladas e terem um prazo de validade longo, são feitas sob demanda.</p>
        </div>
    
        <div class="etapa">
            <img src="/static/img/comocomprar_passo3.png" alt="Faça o pagamento">
            <h3 class="subtitulos">FAÇA O PAGAMENTO</h3>
            <p class="textos">Tá chegando o momento de degustar uma pizza bem crocante e quentinha! Após escolher suas pizzas, você será direcionado para o nosso WhatsApp para concluir seu pagamento.</p>
        </div>
    </section>
</section>
    
    <div class="separador-funcionamento"> </div>
    
    <section class="secoes-animadas carrossel-container"> 
        <section class="carrossel">
            <section class="carrossel-images">
                <div class="carrossel-item">
                    <img src="/static/img/avaliacao_001.png" alt="Imagem 1">
                    <h2>Cleber</h2>
                    <p>A melhor pizza do capão! Muuuuito recheio, massa crocante e molho delicioso. Não deixo faltar aqui em casa.</p>
                </div>
                <div class="carrossel-item">
                    <img src="/static/img/avaliacao_002.png" alt="Imagem 2">
                    <h2>Roberta</h2>
                    <p>Sabor incomparável! A massa é perfeita, o recheio vem na medida certa e o atendimento é nota 10. Não troco por nada!</p>
                </div>
                <div class="carrossel-item">
                    <img src="/static/img/avaliacao_003.png" alt="Imagem 3">
                    <h2>Maria Clara</h2>
                    <p>Simplesmente a melhor pizza da região! O sabor é incrível, o recheio é super generoso, e a entrega é sempre pontual. Já virou tradição aqui em casa! 🍕✨</p>
                </div>
            </section>
        </section>
        <div class="controls">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
          <img src="/static/img/pizza-flutuante-3.png" alt="Pizza Inteira" class="animated-scroll-image pizza-apresentacao6-img" data-speed="1.2">
          <img src="/static/img/sticker_queijo.png" alt="Sticker Massa" class="animated-scroll-image pizza-apresentacao7-img" data-speed="1.2">
    </section>

    <div class="separador-avaliacao" id="avaliacao"></div>

<section class="cardapio-container" id="cardapio">
    <h2>NOSSO CARDÁPIO</h2>
    <section class="carrossel-cardapio">
        <img id="pizza-img" src="/static/img/pizza_5.png" alt="Pizza">
        <h3 id="pizza-title">Chesse Fiesta</h3>
        <p id="pizza-desc">Molho de tomate, mussarela, parmesão, pimentões verdes e azeitonas pretas.</p>

        <form id="pedido-form" method="POST" action="/carrinho/adicionar">
    <input type="hidden" name="sabores" id="input-sabor" value="Chesse Fiesta">

    <h4>Escolha a quantidade e tamanho</h4>

    <div class="tamanho">
        <input type="hidden" name="tamanhos" value="Mini">
        <span class="tamanhopizza"><b>Mini</b></span>
        <span class="preco">R$ 20</span>
        <input type="number" name="quantidades" min="0" value="0">
        <input type="hidden" name="precos_unitarios" value="20">
    </div>

    <div class="tamanho">
        <input type="hidden" name="tamanhos" value="Broto">
        <span class="tamanhopizza"><b>Broto</b></span>
        <span class="preco">R$ 30</span>
        <input type="number" name="quantidades" min="0" value="0">
        <input type="hidden" name="precos_unitarios" value="30">
    </div>

    <div class="tamanho">
        <input type="hidden" name="tamanhos" value="Grande">
        <span class="tamanhopizza"><b>Grande</b></span>
        <span class="preco">R$ 50</span>
        <input type="number" name="quantidades" min="0" value="0">
        <input type="hidden" name="precos_unitarios" value="50">
    </div>

    <button class="comprar">Adicionar ao Carrinho</button>
</form>

    </section>

    <div class="sabores">
        <img src="/static/img/pizza-bacon.png" alt="Pizza de Bacon" 
            data-title="Bacon" 
            data-desc="Molho de tomate especial, mussarela, bacon, milho e azeitonas pretas." 
            onclick="trocarPizza(this)">

        <img src="/static/img/pizza-calabresa.png" alt="Calabresa" 
            data-title="Calabresa" 
            data-desc="Calabresa fatiada, cebola, mussarela, orégano e molho de tomate especial" 
            onclick="trocarPizza(this)">

        <img src="/static/img/pizza-mussarela.png" alt="Mussarela" 
            data-title="Mussarela" 
            data-desc="Mussarela derretida com orégano, tomates, manjericão e molho de tomate especial." 
            onclick="trocarPizza(this)">

        <img src="/static/img/pizza-atum.png" alt="Atum" 
            data-title="Atum" 
            data-desc="Molho de tomate especial, atum em pedaços, cebola, azeitonas pretas e mussarela." 
            onclick="trocarPizza(this)">
    </div>
</section>


<div class="separador-cardapio"></div>

<section class="secoes-animadas entrega"> 
<div class="entrega" id="entrega">
    <h1 class="titulos"> ENTREGA </h1>
    <h3 class="textos">Faça seu pedido com DOIS DIAS de antecedência!</h3>
    <h3 class="textos">Garanta uma pizza quentinha, fresquinha e de qualidade quando bater aquela vontade!</h3>
    <h2 class="texto">ENTREGAMOS SOMENTE NA REGIÃO DO CAPÃO REDONDO</h2>
    <img src="/static/img/pizza-flutuante-6.png" alt="Pizza Inteira" class="animated-scroll-image pizza-apresentacao3-img" data-speed="1.2">
    <img src="/static/img/sticker_massa.png" alt="Sticker Massa" class="animated-scroll-image pizza-apresentacao4-img" data-speed="1.2">
    <img src="/static/img/pizza-flutuante-2.png" alt="Pizza Inteira" class="animated-scroll-image pizza-apresentacao5-img" data-speed="1.2">
</div>
</section>

<div class="separador-footer"></div>
   
    <button class="scroll-top" id="scrollTopBtn"></button>

</main>
    <script src="/static/JS/carrossel-cardapio.js"></script>
    <script src="/static/JS/btnTopo.js"></script>
    <script src="/static/JS/adesivos_flutuantes.js"></script>
    <script src="/static/JS/footer.js"></script>
    <script src="/static/JS/menu.js"></script>
    <script src="/static/JS/carrossel.js"></script>
</body>
</html>

