<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/pgcliente.css">
    <link rel="fonte" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="icon" href="/static/img/pizza_7.png" type="image/png">
    <title>Área do Cliente</title>
</head>
<body>
   
    <h1 class="titulo">ÁREA DO CLIENTE</h1>
    <main>
        <section>
            <h2 class="nomecli">João do Gás</h2>
            <div class="infocli">
                <p>Rua do João, número 150, Bairro do Gás 09023-123 Perto da escola João do Gás</p>
                
                <div class="botaoalterar">
                    <button class="botaoalterar"><b>ALTERAR</b></button>
                </div>
            </div>
            <div class="container">
                <div class="meus"><b>MEUS PEDIDOS</b></div>
                <div class="pedido">
                    <p>conteúdo</p>
                <div class="botaovermais">
                    <button class="botaovermais"><b>VER MAIS</b></button>
                </div> 
                </div>
                <div class="container">
                    <div class="meus"><b>MEUS CUPONS</b></div>
                    <div class="pedido">
                        <p>conteúdo</p>
                    <div class="botaovermais">
                        <button class="botaovermais"><b>VER MAIS</b></button>
                    </div>            
                    </div>
        </section>
    <footer>
        <div class="conteudofooter">
            <img class="logofooter" src="/static/img/logotipo.png" alt="logotipofooter">
            <h1>SIGA-NOS NAS REDES SOCIAIS</h1>
            <P>@CHARLESPIZZASCONGELADAS</P>
        </div>
    </footer>
    <script src="/static/JS/nav.js"></script>
</body>
</html>